# Node.js
node_modules/
npm-debug.log*
.env

# Uploads (Pasta onde as imagens são salvas no backend)
backend/public/images/*
!backend/public/images/.gitkeep

# Build/Dist
dist/
build/

# IDEs e Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db